* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: hsl(225, 59%, 78%);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-center {
    background-color: white;
    width: 300px;
    height: 500px;
    border-radius: 10px;
}

.container-center-img{
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    border-radius: 20px 20px 20px 20px;
}

.container-center-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container-center-text.p {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.container-center-text-plan {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-center-text-plan-text